@import "Font-Awesome/scss/font-awesome";
@import "mixins";

$margin: 30px;
$width: 400px;
$height: 300px;
$base-color: #3f4662;
$cinci: 0.5;
$second-color: #eba84b;
$pointer: pointer;
$pad: 30px;
$color: #000;
$ft: "Segoe UI", sans-serif;
$marginall: 30px auto;
$split: 1;
$hoveru: #00aec3;

.triangle {
  @include triangle(200px, sus, $second-color);
  margin: $marginall;
  &:hover {
    @include triangle(200px, sus, $base-color);
    cursor: help;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $color;
  font-family: $ft;
}

/*.triangle:hover {
  background: $hoveru;
}*/

.circle {
  @include cercdefinitie(300px, $base-color, 10px solid $second-color);
  margin: $marginall;
  &:hover {
    @include efectover
  }
}

.clasa1 {
  width: 50px;
  height: 50px;
  background: #666;
  margin: 5px;
  float: left;
}

.clasa2 {
  width: 50px;
  height: 50px;
  background: #ff0000;
  margin: 5px;
  float: left;
}

.dreptunghi {
  background: $base-color;
  max-width: 500px;
  height: 130px;
  margin: $marginall;
  &:hover {
    @include efectover
  }
}

.box {
  background: #1f6235;
  font-size: 23px;
  text-align: right;
  margin: 50px auto;
}

.top {
  @extend .box;
  width: 750px;
  height: 250px;
  display: block;
}

.ceva {
  width: $width;
  height: $height;
  background-color: $base-color;
  margin: $margin + 70 auto $margin; /*padding-bottom:red($base-color) + 100*/
  /*@include marginb;*/
  padding: $pad;
  color: invert($color);
  @include borderradius;
  &:hover {
    background-color: adjust-color($base-color, $lightness: 20%, $hue: 30%, $saturation: 20%);
    cursor: $pointer;
    color: ($color);
  }

  span {
    font-size: 24px;
    margin-bottom: $margin;
    display: block;

    a {
      color: #ffd800;
      font-size: inherit;
      text-decoration: none;
      &:hover {
        color: #fff;
        font-weight: bold;
      }
    }

  }
}

.altceva {
  @extend .ceva;
  margin-left: 100px;
  margin-top: 20px;

  span {
    a {
      color: #ff0000;
    }

    a:hover {
      text-transform: none;
    }
  }
}

.ceva2 {
  width: $width;
  height: $height;
  background-color: transparentize(adjust-hue(lighten(saturate($base-color, 20%), 30%), 30), 0.5);
  margin: $margin auto;
  /*@include marginb(50px);*/
  padding: $pad;
  color: ($color);
  @include borderradius(15px);
  &:hover {
    background-color: lighten($base-color, 5%);
    cursor: $pointer;
    color: invert($color);
  }
}

.message {
  border: 2px solid #ccc;
}

.error {
  @extend .message;
  border-color: red;
}

$whico: 32px;

$iconite: (twitter, facebook, youtube, rss);
@each $icoane in $iconite {
  .#{$icoane} {
    background: url(img/#{$icoane}.png) 0 0 no-repeat;
  }
}

.social-links {
  @include max-wid(900px, 360px);
  border: 1px solid #ccc;
  display: block;
  height: $whico*2;
  vertical-align: middle;

  li {
    list-style: none;
    float: left;

    a {
      display: inline-block;
      margin: ($whico - 20px) 20px 0 0;
      padding: 0 0 0 40px;
      width: $whico+50px;
      height: $whico;
      color: #2a485e;
      text-decoration: none;
      &:hover {
        color: #00b3ee;
      }

    }
    i {
      float: left;
    }
  }
}
