$margin: 30px;
$width: 400px;
$height: 300px;
$base-color: #3f4662;
$cinci: 0.5;
$second-color: #eba84b;
$pointer: pointer;
$pad: 30px;
$color: #000;
$ft: "Segoe UI", sans-serif;
$marginall: 30px auto;
$split: 1;
$hoveru: #00aec3;

@mixin borderradius($radius: 50px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin marginb($margine: 10px) {
  margin: $margine $margine + 40px $margine + 10px $margine + 20px;
}

@mixin center($max-width) {
  max-width: $max-width;
  width: 100%;
  background-color: #1f6235;
  margin: 30px auto;
}

/*@mixin circles($widthbrds) {
  -webkit-border-radius:$widthbrds;
  -moz-border-radius:$widthbrds;
  border-radius:$widthbrds;
}*/
@mixin triangle($width1, $directie, $col1) {
  @if $directie == sus {
    width: 0;
    height: 0;
    border-left: $width1/2 solid transparent;
    border-right: $width1/2 solid transparent;
    border-bottom: $width1/2 solid $col1;
  } @else if $directie == jos {
    width: 0;
    height: 0;
    border-left: $width1 solid transparent;
    border-right: $width1 solid transparent;
    border-top: $width1 solid $col1;
  }
}

@mixin cercdefinitie($hwcc, $colorcerc, $bordercerc) {
  width: $hwcc;
  height: $hwcc;
  background: $colorcerc;
  border: $bordercerc;
  -webkit-border-radius: $hwcc / $split;
  -moz-border-radius: $hwcc / $split;
  border-radius: $hwcc / $split;

}

@mixin efectover() {
  background: $hoveru;
  border-color: #fff;
  cursor: pointer;
}

/*@mixin efectover($depinde) {
  if $depinde == da {
  background: $hoveru;
  border-color: #fff;
  cursor: pointer;
} else if $depinde == nu {
  background: $second-color;
  border-color: $base-color;
  cursor: help;
}
}*/

.triangle {
  @include triangle(200px, sus, $second-color);
  margin: $marginall;
}

.triangle:hover {
  @include triangle(190px, sus, $base-color);
  margin: $marginall;
  cursor: help;
}

body {
  margin: 0;
  padding: 0;
  color: $color;
  font-family: $ft;
}

/*.triangle:hover {
  background: $hoveru;
}*/

.circle {
  @include cercdefinitie(300px, $base-color, 10px solid $second-color);
  margin: $marginall;
}

.circle:hover {
  @include efectover
}

.dreptunghi {
  background: $base-color;
  max-width: 500px;
  height: 130px;
  margin: $marginall;
}

.dreptunghi:hover {
  @include efectover
}

.box {
  background: #1f6235;
  font-size: 23px;
  text-align: right;
  margin: 50px auto;
}

.top {
  @extend .box;
  width: 750px;
  height: 250px;
  display: block;
}

.ceva {
  width: $width;
  height: $height;
  background-color: $base-color;
  margin: $margin + 70 auto $margin; /*padding-bottom:red($base-color) + 100*/
  /*@include marginb;*/
  padding: $pad;
  color: invert($color);
  @include borderradius;

  span {
    font-size: 24px;
    margin-bottom: $margin;
    display: block;

    a {
      color: #ffd800;
      font-size: inherit;
      text-decoration: none;
    }

    :hover {
      color: #4cff00;
      text-transform: uppercase;
    }
  }
}

.ceva:hover {
  background-color: adjust-color($base-color, $lightness: 30%, $hue: 30%, $saturation: 20%);
  cursor: $pointer;
  color: ($color);
}

.altceva {
  @extend .ceva;
  margin-left: 100px;
  margin-top: 20px;

  span {
    a {
      color: #ff0000;
    }

    a:hover {
      text-transform: none;
    }
  }
}

.ceva2 {
  width: $width;
  height: $height;
  background-color: transparentize(adjust-hue(lighten(saturate($base-color, 20%), 30%), 30), 0.5);
  margin: $margin auto;
  /*@include marginb(50px);*/
  padding: $pad;
  color: ($color);
  @include borderradius(15px);
}

.ceva2:hover {
  background-color: lighten($base-color, 5%);
  cursor: $pointer;
  color: invert($color);
}

.message {
  border: 1px solid #ccc;
}

.error {
  @extend .message;
  border-color: red;
}
