.unu {
  background: #9b3940;
  color: white; }

.doi {
  background: #b45259;
  color: white; }

.trei {
  background: #cd6b72;
  color: white; }

.patru {
  background: #ff9da4;
  color: white; }

.flt1-container {
  max-width: 1440px;
  min-width: 320px;
  margin: 30px auto;
  clear: both;
  background: #f2f2f2;
  margin: 60px auto;
  position: relative;
  top: -30px; }
  .flt1-container div {
    float: left; }

.flt1 {
  background: #003c72;
  width: 61%;
  color: #c8ffff; }

.flt2 {
  background: #fff180;
  width: 39%; }

.incrementColor {
  max-width: 880px;
  min-width: 360px;
  margin: 30px auto;
  clear: both;
  padding: 30px;
  font: 16px 'Segoe UI', sans-serif;
  /*width: calc(100% - 60px);*/ }

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #eba84b;
  margin: 30px auto; }
  .triangle:hover {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #3f4662;
    cursor: help; }

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Segoe UI", sans-serif; }

/*.triangle:hover {
  background: $hoveru;
}*/
.circle {
  width: 300px;
  height: 300px;
  background: #3f4662;
  border: 10px solid #eba84b;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  margin: 30px auto; }
  .circle:hover {
    background: #00aec3;
    border-color: #fff;
    cursor: pointer; }

.clasa1, .clasa2 {
  width: 50px;
  height: 50px;
  background: #666;
  margin: 5px;
  float: left; }

.clasa2 {
  background: #ff0000; }

.dreptunghi {
  background: #3f4662;
  max-width: 500px;
  height: 130px;
  margin: 30px auto; }
  .dreptunghi:hover {
    background: #00aec3;
    border-color: #fff;
    cursor: pointer; }

.box, .top {
  background: #1f6235;
  font-size: 23px;
  text-align: right;
  margin: 50px auto; }

.top {
  width: 750px;
  height: 250px;
  display: block; }

.ceva, .altceva {
  width: 400px;
  height: 300px;
  background-color: #3f4662;
  margin: 100px auto 30px;
  /*padding-bottom:red($base-color) + 100*/
  /*@include marginb;*/
  padding: 30px;
  color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
  .ceva:hover, .altceva:hover {
    background-color: #6f50b7;
    cursor: pointer;
    color: #000; }
  .ceva span, .altceva span {
    font-size: 24px;
    margin-bottom: 30px;
    display: block; }
    .ceva span a, .altceva span a {
      color: #ffd800;
      font-size: inherit;
      text-decoration: none; }
      .ceva span a:hover, .altceva span a:hover {
        color: #fff;
        font-weight: bold; }

.altceva {
  margin-left: 100px;
  margin-top: 20px; }
  .altceva span a {
    color: #ff0000; }
  .altceva span a:hover {
    text-transform: none; }

.ceva2 {
  width: 400px;
  height: 300px;
  background-color: rgba(141, 116, 198, 0.5);
  margin: 30px auto;
  /*@include marginb(50px);*/
  padding: 30px;
  color: #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  .ceva2:hover {
    background-color: #495172;
    cursor: pointer;
    color: white; }

.message, .error {
  border: 2px solid #ccc; }

.error {
  border-color: red; }

.twitter {
  background: url(img/twitter.png) 0 0 no-repeat; }

.facebook {
  background: url(img/facebook.png) 0 0 no-repeat; }

.youtube {
  background: url(img/youtube.png) 0 0 no-repeat; }

.rss {
  background: url(img/rss.png) 0 0 no-repeat; }

.social-links {
  max-width: 900px;
  min-width: 360px;
  margin: 30px auto;
  clear: both;
  border: 1px solid #ccc;
  display: block;
  height: 64px;
  vertical-align: middle; }
  .social-links li {
    list-style: none;
    float: left; }
    .social-links li a {
      display: inline-block;
      margin: 12px 20px 0 0;
      padding: 0 0 0 40px;
      width: 82px;
      height: 32px;
      color: #2a485e;
      text-decoration: none; }
      .social-links li a:hover {
        color: #00b3ee; }
    .social-links li i {
      float: left; }

/*# sourceMappingURL=style.css.map */
